<div id="one" onclick="exercise()">Test1</div>
<div id="two" onclick="exercise()">Test2</div>
<div id="three" onclick="exercise()">Test3</div>
<div id="four" onclick="exercise()">Test4</div>


<div id="anything" onclick="blop()">get data</div>
<div id="weather">weather</div>
<div id="pokemon" onclick="poke()">pokestop</div>
